// Specific CSS for your home-page
body {
  background-color: #F7F1E3;
}

.wrapper {
  border-radius: 3px;
  display: grid;
  margin-top: 18px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
}

.pet-card {
  background-color: white;
  width: 20rem;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: small;
}

.image-div {
  height: 65%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card {
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-left: 3px;
  padding-right: 3px;
  font-size: small;
}

.card img {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.card a {
  text-decoration: none;
}

.show-card-img {
  width: 100%;
}

.info {
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

// @media(max-width: 900px) {
//   .pet-card {
//     margin-bottom: 15px;
//   }
// }
