<%# TODO:UPDATE THIS PAGE WITH A FORM TO CREATE A NEW PET  %>
<h1>Allow Someone To Walk Your Pet</h1>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-lg-3">
      <div class="bg-white rounded p-1 shadow">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" style="background-color: white; padding: 30px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">
    <div class="d-flex">

        <div class="col-sm-8">
          <div>
            <% if @pet.photo.key.present? %>
              <%= cl_image_tag @pet.photo.key, crop: :fill, style: "border-radius: 3px", class: "show-card-img" %>
            <% else  %>
              <img src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="dog icon" style="border-radius: 10px;">
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
