<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<h1>Walk My Dog</h1>
<tbody>
  <% @pets.each do |pet| %>
    <div class="row display-flex space-between">
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Pomeranian.JPG" alt="cute dog">
          <p>
          <h3 ><%= pet.name %></h3>
          <h2><%= pet.breed %></h2>
          <p><%= pet.description %></p>
       </div>
      </div>
    </div>
  </div>
  <% end %>
</tbody>
