<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<h1>Walk My Dog</h1>

<div class="container">
    <div class="row">


   <% @pets.each do |pet| %>
   <div class="col">
      <div class="card"  style="width: 18rem;">
        <img class="card-img-" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Pomeranian.JPG" alt="cute dog">
          <p>
          <h3 ><%= pet.name %></h3>
          <h2><%= pet.breed %></h2>
          <p><%= pet.description %></p>
      </div>
      </div>
  <% end %>

    </div>
  </div>
