<div class="container mx-8 my-4 px-4 py-4 bg-white border border-light">
    <div class="col mb-4">
      <h2>Requests awaiting validation</h2>
      <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <% @bookings.each do |booking| %>
            <div class="fw-bold"> Wish to walk :<%= @booking.pet.name %> - Date of booking : <%= @booking_date %> - From : <%= @user.name %> </div>
          </div>
          <span class="badge bg-warning text-dark rounded-pill">Pending</span>
        </li>
      </ol>
      <% end %>
    </div>

    <div class="mt-6 col">
      <h2>Requests History</h2>
      <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Content for list item
            </div>
            <span class="badge bg-light text-dark rounded-pill">Past</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Content for list item
            </div>
            <span class="badge bg-light text-dark rounded-pill">Past</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Content for list item
            </div>
            <span class="badge bg-light text-dark rounded-pill">Past</span>
          </li>
        </ol>
    </div>
    </div>
</div>
