.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapbox-popup-img {
  width: 100px;
  height: 100px;
}

.mapbox-marker-color {
  background-color: #FFB142;
}
