.thumbnail{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.background {
  background-color: #F7F1E3;
}

.tabs button {
  color: lightgrey;
}

.tabs button:hover {
  color: #FFB142;
}

.table_customized {
  background-color: white;
  align-content: center;
  vertical-align: middle;
}
